.logo {
    width: 3em;
    padding-right: 2em;
}

.title {
    flex: 1 1 auto;
    text-align: center;
}

.header {
    position: fixed;
    width: 100% !important;
}

.toolbar-menu {
    justify-content: flex-end;
}
