.logo {
    width: 3em;
    padding-right: 2em;
}

.title {
    flex: 1 1 auto;
    text-align: center;
}

.dPic {
    height: calc(100vh - 130px);
    margin:0 auto;
    display:block;
}

.body-data {
    padding: 20px;
    line-height: 1.5;
    margin: 0 0 1em;
    text-align: center;
    color: #000;
    font-family: Raleway, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.left-pic-btn {
    float: left;
    align-self: center;
}

.right-pic-btn {
    float: right;
    align-self: center;
}

.instagram {
    width: 2em;
}

.footer {
    position: fixed;
    bottom: 0;
}