.dPic {
    height: calc(100vh - 130px);
    margin:0 auto;
    display:block;
}

.body-data {
    padding: 20px;
    padding-top: 10em;
    line-height: 1.5;
    margin: 0 0 1em;
    text-align: center;
    color: #000;
    font-family: Raleway, Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.left-pic-btn {
    float: left;
    align-self: center;
}

.right-pic-btn {
    float: right;
    align-self: center;
}

.instagram {
    width: 2em;
}

.footer {
    bottom: 0;
    width: 100% !important;
}

.title {
    flex: 1 1 auto;
    text-align: center;
}

.program-title {
    text-align: center;
    padding-top: 5em;
}

.programs {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1140px;
}

.leftPrograms .rightPrograms {
    width: 50%;
}

.education-title {
    color: #f0c774;
}

.women-empowerment-title {
    color: #b3d2d1;
}

.empowering-grassroots-title {
    color: #50c878;
}

.healthcare-title {
    color: #c0adcc;
}

.programs-title {
    font-family: "Bebas Neue", Sans-serif;
    font-weight: 700;
    text-decoration: underline;
    line-height: 50.54px;
    letter-spacing: 1px;
}

.programs-body {
    color: #000;
    font-family: Raleway, Sans-serif;
    font-size: 16px;
}

.livelihood-title {
    color: #debfae;
}

.diaster-response-title {
    color: salmon;
}

.programs-icon {
    width: 6em;
    height: 100%;
}

.program-element {
    display: flex;
}