<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <img class="logo" src="teamKavach/src/assets/svg/logo.svg">
            <span class="title">Team Kavach</span>
            <button mat-raised-button color="warn" (click)="openDonateDialog()">Donate for a cause</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="body-data">
        <button mat-fab color="accent" class="left-pic-btn" (click)="leftPic()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <img class="dPic" [src]="dPic">
        <button mat-fab color="accent" class="right-pic-btn" (click)="rightPic()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="title">Team Kavach</span>
            <a href="https://www.instagram.com/team_kavach/" target="_blank" class="footer-social-icon">
                <img class="instagram" src="teamKavach/src/assets/jpg/Instagram_icon.png">
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>